<header>
  <div id="logo">
    <img src="assets/bSOL-logo.png">
    <a target="_blank" class="solblaze-link" href="https://stake.solblaze.org/app/">
      <div>BLZE airdrop checker</div>
    </a>
  </div>
<div style="text-align: right;">

  <small>current score/blze ratio: 1/{{airdropRatio() | number: '1.2'}}</small>
</div>

</header>

<div id="container">

  <div id="intro">
    Check your weekly $BLZE airdrop based on the amount of score you have on the SolBlaze website.
  </div>
  <small>airdrop may can change due to pool growth</small>

    <div id="search-box">
      <input placeholder="Your wallet address" [(ngModel)]="inputVal" class="input"/>
      
      <button [ngStyle]="{'background-color': inputVal === '' ? 'lightgray' : '#f3f7fe' }" [disabled]="inputVal === ''" (click)="calcAirdrop(inputVal)" >
      check
    </button>
  </div>
  
  @if(loading){
    fetching results...
  }
  @if (airdrop() !== null) {

    <div >
      <h3 style="color: aqua;font-weight: 500; text-transform: capitalize;">your weekly airdrop:</h3>
      <div style="text-align: center;">{{airdrop() | number: '1.2'}} <span>$BLZE</span></div>
    </div>
  }
</div>
<span id="love">built with Love by <a href="https://www.SolanaHub.app" target="_blank">
  <span id="logo">SolanaHub</span>
  <img src="assets/solanahub-logo.svg" alt="solanhub logo"/></a>
</span>